/* .app-footer {
   background: #eaeaea;
   padding: 2rem;
   color: #666;
   font-size: .9em;
   border-radius: .2rem;
   box-shadow: inset 0 1px 2px 0 rgba(34,36,38,.15);
}
*/

.app-footer {
   margin-top: 2px solid #eaeaea;
   padding: 2rem 0;
   color: #666;
   font-size: .9em;
}

.app-footer a {
   color: inherit;
   text-decoration: underline;
}